@media screen and (min-width: 1400px) {
    #jumboCardImg {
        width: 20vw;
        padding-left: 3%;
        translate: 0 15%;
    }

    #jumboImg {
        width: 20vw;
    }

    #jumboTitles {
        font-size: 1vw;
    }

    #jumboName {
        font-size: 2vw;
        margin: 0;
    }
    .text {
        position: absolute;
        text-align: left;
        bottom: 0;
        left: 8%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: #fff;
        width: 100%;
        height: 20%;
        padding-left: 10%;
    }
    .aboutMeImgText{
        margin: auto;
        translate: 0 90%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: #fff;
        width: 10vw;
        font-size: 2vw;

    }
    .elementFont {
        font-size: calc(0.525rem + 2rem);
        font-weight: bolder;
    }


/*
    .elementTwoImg{
        width: calc(100% - 100px);
    }




    .middleElementRight {
        translate: 215%;
    }

    .middleElementLeft {
        translate: -50%;
    }

    .elementFontTwo {
        translate: 0;
        font-size: calc(0.525rem + 2vw);
        font-weight: bolder;
    }

    .elementBox {
        position: relative;
        padding-top: 2vw;
    }

    .elementText {

        min-height: calc(100% - 50px);
        border: .5em solid black;
        margin: 2em 0;
        background-color: #FFFFFF;
    }*/
    .elementImg {
        width: calc(100% - 100px);
    }
    .elementTitle {
        position: absolute;
        text-align: center;
        top: 15%;
        left: 7%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: rgba(255, 255, 255, 0.7);
        width: calc(100% - 7rem);

    }

}


@media screen and (min-width: 992px) and (max-width: 1399px) {
    #jumboCardImg {
        width: 20vw;
        padding-left: 3%;
        translate: 0 25%;
    }

    #jumboImg {
        width: 20vw;
    }

    #jumboTitles {
        font-size: 1vw;
    }

    #jumboName {
        font-size: 2vw;
        margin: 0;
    }
    .text {
        position: absolute;
        text-align: left;
        bottom: 0;
        left: 8%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: #fff;
        width: 100%;
        height: 20%;
        padding-left: 10%;
    }
    .aboutMeImgText{
        margin: auto;
        translate: 0 90%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: #fff;
        width: 12vw;
        font-size: 2vw;
    }

    .aboutImgs {
        width: 100%;
    }

    .elementTitle {
        position: absolute;
        text-align: center;
        top: 15%;
        left: 7%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: rgba(255, 255, 255, 0.7);
        width: calc(100% - 7rem);

    }
    .elementImg {
        width: calc(100% - 100px);
    }
    .elementFont {
         font-size: calc(0.525rem + 1.7vw);
         font-weight: bolder;
     }
/*
    .elementTwoImgTitle{
        position: absolute;
        text-align: center;
        top: 5%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: rgba(255, 255, 255, 0.7);
        width: calc(100% - 4rem);
    }

    .elementTwoImg{
        width: calc(100% - 100px);
    }





    .middleElementRight {
        translate: 215%;
    }

    .middleElementLeft {
        translate: -50%;
    }

    .elementFontTwo {
        translate: 0;
        font-size: calc(0.525rem + 2vw);
        font-weight: bolder;
    }

    .elementBox {
        position: relative;
        padding-top: 2vw;
    }

    .elementText {

        min-height: calc(100% - 50px);
        border: .5em solid black;
        margin: 2em 0;
        background-color: #FFFFFF;
    }*/
}


@media screen and (min-width: 768px) and  (max-width: 991px){

    .navbar-lines{
        display: none;
    }

    #jumboCardImg {
        width: 35vw;
        padding-left: 3%;
        translate: 0 25%;
    }

    #jumboImg {
        width: 35vw;
    }

    #jumboTitles {
        font-size: 2vw;
    }

    #jumboName {
        font-size: 3vw;
        margin: 0;
    }

    .text {
        position: absolute;
        text-align: left;
        bottom: 0;
        left: 8%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: #fff;
        width: 100%;
        height: 20%;
        padding-left: 10%;
    }
    .aboutMeImgText{
        margin: auto;
        translate: 0 90%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: #fff;
        width: 20vw;
        font-size: 3vw;
    }

    .aboutImgs {
        width: 120%;
    }
    .elementTitle {
        position: absolute;
        text-align: center;
        top: 15%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: rgba(255, 255, 255, 0.7);
        width: calc(100% - 4rem);

    }
    .elementImg {
        width: content-box;
    }
    .elementFont {
         font-size: calc(0.525rem + 1.5vw);
         font-weight: bolder;
     }
/*
    .elementTwoImgTitle{
        position: absolute;
        text-align: center;
        top: 5%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: rgba(255, 255, 255, 0.7);
        width: calc(100% - 4rem);
    }

    .elementTwoImg{
        width: calc(100% - 100px);
    }






    .middleElementRight {
        translate: 215%;
    }

    .middleElementLeft {
        translate: -50%;
    }

    .elementFontTwo {
        translate: 0;
        font-size: calc(0.525rem + 2vw);
        font-weight: bolder;
    }

    .elementBox {
        position: relative;
        padding-top: 2vw;
    }

    .elementText {

        min-height: calc(100% - 50px);
        border: .5em solid black;
        margin: 2em 0;
        background-color: #FFFFFF;
    }
*/
}


@media screen and (min-width: 576px) and (max-width: 767px) {

    .navbar-lines {
        display: none;
    }

    #jumboCardImg {
        width: 35vw;
        padding-left: 3%;
        translate: 0 25%;
    }

    #jumboImg {
        width: 35vw;
    }

    #jumboTitles {
        font-size: 2vw;
    }

    #jumboName {
        font-size: 3vw;
        margin: 0;
    }

    .text {
        position: absolute;
        text-align: left;
        bottom: 0;
        left: 8%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: #fff;
        width: 100%;
        height: 20%;
        padding-left: 10%;
    }
    .aboutMeImgText{
        margin: auto;
        translate: 0 90%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: #fff;
        width: 20vw;
        font-size: 3vw;
    }

    .aboutImgs {
        width: 100%;
    }
   .elementTitle {
        position: absolute;
        text-align: center;
        top: 15%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: rgba(255, 255, 255, 0.7);
        width: calc(100% - 7rem);

    }
    .elementFont {
             font-size: calc(0.525rem + 4vw);
             font-weight: bolder;
         }
 /*
    .elementTwoImgTitle{
        position: absolute;
        text-align: center;
        top: 5%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: rgba(255, 255, 255, 0.7);
        width: calc(100% - 4rem);
    }

    .elementTwoImg{
        width: calc(100% - 100px);
    }





    .middleElementRight {
        translate: 215%;
    }

    .middleElementLeft {
        translate: -50%;
    }

    .elementFontTwo {
        translate: 0;
        font-size: calc(0.525rem + 2vw);
        font-weight: bolder;
    }

    .elementBox {
        position: relative;
        padding-top: 2vw;
    }

    .elementText {

        min-height: calc(100% - 50px);
        border: .5em solid black;
        margin: 2em 0;
        background-color: #FFFFFF;
    }*/
}

@media screen and (max-width: 575px) {

    .navbar-lines{
        display: none;
    }
    #jumboCardImg {
        width: 60vw;
        padding-left: 3%;
        translate: 0 20%;
    }

    .aboutImgs {
        max-width: 80%;
    }

    #jumboName {
        font-size: 6vw;
        margin: 0;
    }
    #jumboTitles {
        font-size: 3vw;
    }
    .text {
        position: absolute;
        text-align: left;
        bottom: 0;

        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: #fff;
        width: 80%;
        height: 20%;
        padding-left: 10%;
    }
    .aboutCards{
        margin: 1vw 0;
    }

    .aboutMeImgText{
        margin: auto;
        translate: 0 90%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: #fff;
        width: 40vw;
        font-size: 8vw;
    }

    .aboutImgs {
        width: 100%;
    }

    .elementTitle {
        position: absolute;
        text-align: center;
        top: 15%;
        background: rgba(25, 25, 25, 0.8);
        font-family: Arial, sans-serif;
        color: rgba(255, 255, 255, 0.7);
        width: calc(100% - 7rem);

    }
    .elementImg {
        width: calc(100% - 100px);
    }
    .elementFont {
        font-size: calc(0.525rem + 4vw);
        font-weight: bolder;
    }

}

/*If its dependant on size, put it up there!*/

.jumboBox {
    position: relative;
}



/*this is the elements from my life*/



.elementEx {
    border: .2em solid black;
    background-color: #FFFFFF;

}


.stuck .navbar.sticky-top {
    background-color: #f6f7f9 !important;
    opacity: 85%;
    padding-top: .2rem !important;
    padding-bottom: .2rem !important;
}

.sticky-top {
    transition: all 0.25s ease-in;
}

body {
    background-color: bisque;
}
.logo{
    max-width: 2rem;
}
.headline{
    font-size: 2rem;
}
.elementLogo{
    max-width: 1.5rem;
}